#xwsForm {
    padding: 15px;
    margin-top: 10px;
}

.total-squad-points-destroyed {
    text-align: right;
    font-weight: bold;
    margin-top: 10px;
}

.squad-form {
    padding: 15px;
    display: none;
    margin-top: 10px;
}

.squad-1-color {
    background-color: lightcyan;
}

.squad-2-color {
    background-color: lightpink;
}

#mainNavbar {
    background-color: #101010;
}

body {
    background-color: #202020;
}

.container-fluid {
    padding: 0px;
}
#win-conditions {
    margin-top: 10px;
    padding: 15px;
    font-size: 12px;
    /*background-color: darkslategray;*/
    display: none;
}
.win-cons-table {
    width: 100%;
}