/* Overall styling */

body {
    background-color: #202020;
}

.container-fluid {
    padding: 0px;
}

/* Settings form */

#mainNavbar {
    background-color: #101010;
}

#xwsForm {
    padding: 15px;
    margin-top: 10px;
}


/* Squad scoreboard styling */

.squad-form {
    padding: 15px;
    display: none;
    margin-top: 10px;
    text-align: right;
}

.squad-1-color {
    background-color: lightcyan;
}

.squad-2-color {
    background-color: lightpink;
}

.total-squad-points-destroyed {
    text-align: right;
    font-weight: bold;
    margin-top: 5px;
    border-top: 2px solid black;
    display: inline-block;
    margin-left: auto;
    width: 165px;
}

.form-row, h4 {
    text-align: left;
}

/* Win cons styling */

#win-conditions {
    margin-top: 10px;
    padding: 15px;
    font-size: 12px;
    /*background-color: darkslategray;*/
    display: none;
}
.win-cons-table {
    width: 100%;
}

.win-cons-info-button {
    font-size: 10px;
}

.squad1PointsLost, .squad2PointsLost {
	font-weight: bold;
	color: red;
}

/* Help modal styling */

.modal-body {
    font-size: 12px;
}
